[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod

[submodule "themes/blowfish_lite"]
	path = themes/blowfish_lite
	url = https://github.com/nunocoracao/blowfish_lite
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish
